<div class="list-group" style="width:10rem;position:fixed">
	<a class="list-group-item list-group-item-action active" href="#top"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i> 返回顶部</a>
  <a class="list-group-item list-group-item-action" href="/home.ejs"><i class="fa fa-home fa-lg" aria-hidden="true"></i> 主页</a>
  <a class="list-group-item list-group-item-action" href="MyInfo"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> 我的空间</a>
  <a class="list-group-item list-group-item-action" href="publish.ejs"><i class="fa fa-telegram fa-lg" aria-hidden="true"></i> 发布信息</a>
  <a class="list-group-item list-group-item-action" href="PublishFind?username=${username}"><i class="fa fa-address-book fa-lg" aria-hidden="true"></i> 我发布的</a>
  <a class="list-group-item list-group-item-action" href="AllUser"><i class="fa fa-users fa-lg" aria-hidden="true"></i> 所有用户</a>
  
</div>
