<div class="card" style="width: 18rem;position:fixed">
	<img class="card-img-top" src="upload/<%-user.headimg%>"
		alt="Card image cap" height=300px width=300px>
	<div class="card-body">
		<h5 class="card-title"><%-user.username%></h5>
		<p class="card-text">我的关注：<a href="FindMeFollow">${follows}</a></p>
		<p class="card-text">关注我的：<a href="FindFollowMe">${bfollows}</a></p>
		<a href="MyInfo" class="btn btn-primary btn-lg btn-block">我的空间</a>
	</div>
</div>