<div class="card" style="width: 18rem;position:fixed">
	<img class="card-img-top" src="upload/<%=user.headimg%>"
		alt="Card image cap" height=300px width=300px>
	<div class="card-body">
		<h5 class="card-title"><%-user.username%></h5>
		<p class="card-text"><a href="findByUser?username=<%=user.username%>">查看我发布的</a></p>
		<a href="userInfo?username=<%=user.username%>" class="btn btn-primary btn-lg btn-block">我的空间</a>
	</div>
</div>